body{
  margin:0;
  padding:0;
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

.container{
  margin-top:40px;
}

h1{
  color:gold;
  font-size:45px;
}

.coins{
  font-size:28px;
  margin-top:20px;
}

.slot-box{

  display:grid;

  grid-template-columns:
  repeat(8, 1fr);

  gap:10px;

  width:90%;
  margin:30px auto;
}
.reel{

  width:60px;
  height:60px;

  background:#222;
  border:3px solid gold;
  border-radius:12px;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:35px;

}

button{
  padding:15px 40px;
  font-size:25px;
  border:none;
  border-radius:12px;
  background:gold;
  color:black;
  font-weight:bold;
}

.result{
  margin-top:20px;
  font-size:28px;
}
